// Dekl & Init
$navLinePosition: 6rem;
$navLineTitleSize: 70px;
$navFirmenLogo: 70px;
$linePosition: 2.5%;
$main-clr: #96DDD0;
$sectionHeight: 90%;

/* Für Webkit-basierte Browser (z. B. Chrome, Safari) */
::-webkit-scrollbar {
    display: none;
  }

// Global
body {
    font-family: "ROBOTO", sans-serif;
    background-color: #f0f0f0;
    box-sizing: border-box;
    transition: background-color 0.5s ease;
}

.mode-switch {
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
}

.mode-label {
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 25px;
    position: relative;
    cursor: pointer;
}

#modeToggle {
    opacity: 0;
    width: 0;
    height: 0;
}

#modeToggle:checked + .mode-label {
    background-color: #4caf50; /* Light green color, you can customize */
}

#modeToggle:checked + .mode-label:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    transform: translateX(20px);
    transition: transform 0.3s ease;
}

#modeToggle:checked + .mode-label:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #000;
    border-radius: 50%;
    transform: translateX(0);
    transition: transform 0.3s ease;
}
section {
    z-index: 50;
    height: 100%;
    padding-top: $navLineTitleSize;
    padding-bottom: $navLineTitleSize;

    & .header-line{
        position: absolute;
        color: #F3F0F0;
        height: $sectionHeight;
        padding-top: 2.5%;
        left: 0;
    
        & .line {
            position: absolute;
            left: calc($navLinePosition + $linePosition);
            width: 1px;
            height: $sectionHeight;
            background-color: #4AB6AF;
        }
        
        &  .title {
            position: relative;
            height: $navLineTitleSize;
            top: calc($sectionHeight / 2) ;
            left: calc($navLineTitleSize / 2.5);
            font-weight: 500;
            font-size: 2rem;
            color: #549591;
            width: 9rem;
            padding: 5px 10px;
            margin: 0;
            text-align: center;
            background-color: #f0f0f0;
            transform: rotate(-90deg);
        }
    }
}

// Navigation
#mainNavigation {
    z-index: 100;
    position: fixed;
    width: 100vw;
    top: 0;
    padding: 0;
    margin: 0;
    background-color: $main-clr;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
    max-height: $navFirmenLogo;

    & .navbar-brand {
        margin-left: 60px;
        display: flex;
        align-items: center;
        
        & #firmenLogo {
            height: 50px;
        }

        & h1{
            margin: 0; 
        }
    }

    & .nav-link {
        padding-left: 2rem;
        padding-right: 2rem;
        color: #F3F0F0;

        &:last-child {
            margin-right: 60px;
        }
    }

    & .navbar-collapse {
        flex-grow: 0;
    }
}

.active {
    color: #fff;
    font-weight: bold;
}

#navbarNavAltMarkup {
    & a {
        position: relative;
    }

    & a::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 3px;
      background-color: #f0f0f0;;
      transition: width 0.8s ease;
    }
  }
  
#navbarNavAltMarkup {
    & a.active::before {
        width: var(--link-width);
    }
}

// About Section
#About {
    & .aboutMeText {
        position: relative;
        padding: 3rem 3rem 0 0 ;
    }
    
    & .blinking-cursor {
        animation: blinking 1s infinite;
        font-size: large;
        font-weight: 500;
    }
      
    @keyframes blinking {
        0%, 100% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
    }
}

#aboutMeLogoImg {
    position: relative;

    & #aboutImg {
        height: 400px;
        width: 400px;
        position: absolute;
        left: 10%;
        top: 40%;

        & img {
            height: 100%;
        }
    }
}

#impressum {
    background-color: $main-clr;
    font-size: .8rem;
}




