 @import 'company-color';
 @import 'presets';
 
 /* Global Styling */
 body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,
    "Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    height: 100%;
}

h1 {
    padding: 0;
    margin: 0;
}

// mixin = Function, Aufruf über @include rightCorner()
// Parmater übergabe auch möglich
// Variablen über $varName Deafult über 
@mixin rightCorner() {
    position: absolute;
}

@mixin farbDiv() {
    width: 100px;
    height: 100px;
    display: inline-block;
}

#grid-container {
    display: grid;
    position: relative;
    align-items: center;
    width: 80%;
    left: 10%;
    right: auto;
    grid-template-rows: 50px 600px 600px 300px 150px;
    grid-template-areas: "header header header header"
                         "main main main main"
                         "gallery gallery gallery gallery"
                         "clr clr clr clr"
                         "footer footer footer footer";
                         
    & header {
        grid-area: header;

        & #company {
            width: 30%;
            height: 100%;
            display: inline-block;

            & img {
                width: 100%;
                height: 100%;
            }

            & h1 {
                display: inline-block;
                height: 100%;
                margin: 0;
                color: map-get($palette, "clr4");
                //  color: $palette["clr4"];
            }
        }

        & nav {
            display: inline-block;
            width: 65%;
            height: 100%;
        }
    }

    & #main-content {
        width: 100%;
        height: 100%;
        grid-area: main;

        & #aboutMe {
            display: inline-block;
            width: 100%;

            & h1 {
                display: inline-block;
                width: 70%;
            }

            & img {
                display: inline-block;
                width: 28%; 
            }

            & p {
                width: 50%;
                padding: 1rem 0;
                margin: 0;
            }
        }
    }

    & #projekt-gallery {
        grid-area: gallery;
        background-color: map-get($palette, "clr2");
        width: 100%;
        height: 100%;
    }

    & #farbpalette {
        grid-area: clr;
        width: 100%;
        height: 100%;

        & h1 {
            width: 100%;
            padding: 1rem;
            text-align: center;
            color: map-get($palette, "clr6");
        }

        & .flex-container {
            gap: 1rem;

            & div {
                @include farbDiv();    
            }
        
            @for $i from 1 through $palette-size {
                & div:nth-child(#{$i}) {
                    background-color: map-get($palette, "clr#{$i}");
                }
            }
        }
    }

    & footer {
        grid-area: footer;
        display: inline-block;
        background-color: map-get($palette, "clr2");
        width: 100%;
        height: 100%;

        & .firmen-logo {
            display: inline-block;
            height: 100%;

            & svg {
                display: inline-block;
                height: 100%;
            }
        }

        & #slogan {
            font-size: 1.5rem;
        }

        & #social-links {
            width: 100%;
            height: 100%;

            & a {
                padding: 1rem;
            }
        }
    }
}



